{
    "env": {
        "browser": false
    },
    "parserOptions": {
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": [
                    "node_modules",
                    "src"
                ],
                "extensions": [
                    ".js"
                ]
            }
        }
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "ignoredNodes": [
                    "TemplateLiteral"
                ],
                "SwitchCase": 1
            }
        ],
        "nonblock-statement-body-position": ["error", "below"],
        "global-require": [
            "off"
        ],
        "no-plusplus": [
            "off"
        ],
        "operator-linebreak": ["error", "after", {
            "overrides": {
                "?": "ignore",
                ":": "ignore"
            }
        }],
        "template-curly-spacing": [
            "off"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "no-confusing-arrow": ["off"],
        "curly": ["error", "multi-or-nest"],
        "array-bracket-spacing": ["error", "always", {
            "singleValue": true,
            "objectsInArrays": false,
            "arraysInArrays": false
        }],
        "newline-before-return": ["error"],
        "camelcase": ["off"],
        "no-unused-expressions": "off",
        "import/no-extraneous-dependencies": "off",
        "max-len": ["warn", {
            "code": 160,
            "ignoreUrls": true
        }],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": ["for", "while", "if", "do", "switch", "try", "throw"]
            },
            {
                "blankLine": "always",
                "prev": ["for", "while", "if", "do", "switch", "try", "throw"],
                "next": "*"
            }
        ],
        "prefer-destructuring":["error", {
            "array": false,
            "object": false
        }, {
            "enforceForRenamedProperties": false
        }],
        "import/no-cycle": "off" //TODO enable it after refactor
    }
}
